<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🎉 PS Everyday 구독을 환영합니다!</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<div style="width: 60%; margin: 30px auto; background: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); text-align: center;">
    <h1 style="color: #007bff; font-size: 24px;">🎉 PS Everyday 구독을 환영합니다! 🎉</h1>
    <p style="font-size: 16px; color: #333;"><b><span style="color: #4CAF50; font-weight: bold;" th:text="${email}"></span></b>님, PS Everyday를 구독해 주셔서 감사합니다. 🌟</p>
    <p style="font-size: 16px; color: #333;">이제 매일 랜덤 알고리즘 문제를 이메일로 받아보실 수 있습니다! 🚀</p>
    <p style="font-size: 16px; color: #333;">문제를 풀며 알고리즘 실력을 키워보세요. 최고의 하루 되세요! 😊</p>
    <div style="margin-top: 20px; font-size: 14px; color: #888;">
        <p style="font-size: 14px; color: #888;">📩 PS Everyday | 알고리즘 문제 추천 서비스</p>
        <p style="font-size: 12px; color: #888; margin-top: 10px;">
            <a th:href="@{'http://localhost:8080/unsubscribe?email=' + ${email}}" style="color: #888; text-decoration: underline;">구독 취소</a>
        </p>
    </div>

</div>
</body>
</html>